@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  background-color: #204829;
  padding: 0;
  margin: 0;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}

/* [[FUENTES]] */
/* [[COLORES]] */
.tt_ppal {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  background-color: transparent;
  color: #22b455;
  padding: 0.5em;
  border: solid 0.2em #92e5a1;
  border-radius: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.principal {
  background-color: #204829;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Mono", monospace;
}

.inv_principal {
  background-color: #204829;
  width: 100%;
  height: 100vh;
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.inv_principal .mitad {
  width: 50%;
  height: 100vh;
}
.inv_principal .carga {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.inv_principal .carga .sub_tt {
  color: #22b455;
  padding: 0.3em;
  border: solid 0.2em #92e5a1;
  border-radius: 0.5em;
}
.inv_principal .carga #carga-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.inv_principal .carga #carga-form .descripcion {
  text-wrap: wrap;
  color: #22b455;
  height: 8vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: solid 0.4em #80ce87;
  border-radius: 1.5em;
  text-align: center;
  background-color: #000000;
  font-family: "IBM Plex Mono", monospace;
}
.inv_principal .carga .advertencias {
  background-color: #000000;
  font-family: "IBM Plex Mono", monospace;
  width: 70%;
  align-self: center;
  border: solid 0.5em #92e5a1;
  border-radius: 0.8em;
  padding: 0.3em;
}
.inv_principal .carga .advertencias .advt {
  color: #22b455;
  text-wrap: wrap;
  text-align: center;
}
.inv_principal .carga .c_inputs {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  background-color: #000000;
  color: #22b455;
  height: 4vh;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: solid 0.4em #80ce87;
  border-radius: 1.5em;
  align-content: center;
  padding: 0.2em;
}

.inventario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.inventario .sub_tt_ver {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  background-color: transparent;
  color: #22b455;
  padding: 0.5em;
  border: solid 0.2em #92e5a1;
  border-radius: 1em;
  margin-top: 3em;
  margin-bottom: 4em;
}
.inventario .format_ver {
  width: 150%;
  border: solid 0.3em #92e5a1;
  margin-top: 0.5em;
  padding: 0.2em;
  color: #22b455;
  background-color: #000000;
}
.inventario .format_ver .xOx {
  border: solid 0.2em white;
  width: 5em;
  height: 2em;
}
.inventario .format_ver .xOx_d {
  border: solid 0.2em white;
  width: 20em;
  height: 4em;
}

#login-form {
  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%; */
  border: solid 0.3em #000000;
  padding: 8vh;
  color: #22b455;
  font-weight: 400;
}
#login-form .label-container {
  display: flex;
  flex-direction: column;
}
#login-form .label-container .label {
  margin-bottom: 1em;
}
#login-form .input-container .input-box {
  width: 100%;
  opacity: 30%;
  border: solid 0.12em #000000;
  background-color: #92e5a1;
  color: #000000;
  font-weight: bolder;
  text-align: center;
}
#login-form .submit-container {
  display: flex;
  justify-content: center;
  grid-column-start: span 2;
}
#login-form .button-sub {
  width: 10vh;
  height: 3vh;
  background-color: #92e5a1;
  border: outset 0.5vh #80ce87;
  animation-name: parpadeo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 50%;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #204829;
  align-self: center;
  margin-top: 2vh;
}
#login-form .button-sub:hover {
  border: inset 0.5vh #80ce87;
}
@keyframes parpadeo {
  0% {
    background-color: #22b455;
  }
  50% {
    background-color: #92e5a1;
  }
  75% {
    background-color: #22b455;
  }
  100% {
    background-color: #92e5a1;
  }
}
#login-form .input-box {
  border: none;
  opacity: 50%;
}

/*# sourceMappingURL=styles.css.map */
