@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  /* background-color: #204829; */
  padding: 0;
  margin: 0;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}

/* [[FUENTES]] */
/* [[COLORES]] */
.tt_ppal {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  background-color: transparent;
  color: #22b455;
  padding: 0.5em;
  border: solid 0.2em #92e5a1;
  border-radius: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.principal {
  background-color: #204829;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Mono", monospace;
}

.inv_principal {
  background-color: #204829;
  width: 100%;
  height: 100vh;
  font-family: "IBM Plex Mono", monospace;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.inv_principal .mitad {
  width: 85%;
  height: 100vh;
}
.inv_principal .carga {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.inv_principal .carga .sub_tt {
  color: #22b455;
  padding: 0.3em;
  border: solid 0.2em #92e5a1;
  border-radius: 0.5em;
}
.inv_principal .carga #carga-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.inv_principal .carga #carga-form .descripcion {
  text-wrap: wrap;
  color: #22b455;
  height: 8vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: solid 0.4em #80ce87;
  border-radius: 1.5em;
  text-align: center;
  background-color: #000000;
  font-family: "IBM Plex Mono", monospace;
}
.inv_principal .carga .advertencias {
  background-color: #000000;
  font-family: "IBM Plex Mono", monospace;
  width: 70%;
  align-self: center;
  border: solid 0.5em #92e5a1;
  border-radius: 0.8em;
  padding: 0.3em;
}
.inv_principal .carga .advertencias .advt {
  color: #22b455;
  text-wrap: wrap;
  text-align: center;
}
.inv_principal .carga .c_inputs {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  background-color: #000000;
  color: #22b455;
  height: 4vh;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: solid 0.4em #80ce87;
  border-radius: 1.5em;
  align-content: center;
  padding: 0.2em;
}

.inventario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.inventario .sub_tt_ver {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  background-color: transparent;
  color: #22b455;
  padding: 0.5em;
  border: solid 0.2em #92e5a1;
  border-radius: 1em;
  margin-top: 3em;
  margin-bottom: 4em;
}
.inventario .format_ver {
  width: 150%;
  border: solid 0.3em #92e5a1;
  margin-top: 0.5em;
  padding: 0.2em;
  color: #22b455;
  background-color: #000000;
}
.inventario .format_ver .xOx {
  color: #22b455;
  border: solid 0.2em white;
  width: 5em;
  height: 2em;
}
.inventario .format_ver .xOx_d {
  border: solid 0.2em white;
  width: 20em;
  height: 4em;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.card :hover {
  transform: scale(1.05);
}
.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.card h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.card p {
  font-size: 1rem;
  color: #555;
  margin: 0.5rem 0;
}
.card footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

#login-form {
  /* display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%; */
  border: solid 0.3em #000000;
  padding: 8vh;
  color: #22b455;
  font-weight: 400;
}
#login-form .label-container {
  display: flex;
  flex-direction: column;
}
#login-form .label-container .label {
  margin-bottom: 1em;
}
#login-form .input-container .input-box {
  width: 100%;
  opacity: 30%;
  border: solid 0.12em #000000;
  background-color: #92e5a1;
  color: #000000;
  font-weight: bolder;
  text-align: center;
}
#login-form .submit-container {
  display: flex;
  justify-content: center;
  grid-column-start: span 2;
}
@keyframes parpadeo {
  0% {
    background-color: #22b455;
  }
  50% {
    background-color: #92e5a1;
  }
  75% {
    background-color: #22b455;
  }
  100% {
    background-color: #92e5a1;
  }
}
#login-form .input-box {
  border: none;
  opacity: 50%;
}

.button-sub {
  width: 10vh;
  height: 3vh;
  background-color: #92e5a1;
  border: outset 0.5vh #80ce87;
  animation-name: parpadeo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 50%;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  color: #204829;
  align-self: center;
  margin-top: 2vh;
}
.button-sub:hover {
  border: inset 0.5vh #80ce87;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup video {
  width: 100%;
  height: auto;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.buscador_ppal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.buscador_ppal .mitad_arriba {
  background-color: #204829;
  border: solid 3px #000000;
  border-radius: 2em;
  width: 80%;
  height: 20vh;
  margin-top: 1vh;
}
.buscador_ppal .mitad_arriba .busc_filtros {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.buscador_ppal .mitad_arriba .busc_filtros #clave_buscador {
  text-align: center;
  color: #22b455;
  width: 80%;
  height: 3vh;
}
.buscador_ppal .mitad_arriba .checkboxes {
  margin-top: 3vh;
  color: #22b455;
}
.buscador_ppal .mitad_abajo {
  background-color: #204829;
  border: solid 3px #000000;
  width: 80%;
  height: 60vh;
  margin-top: 1vh;
}

/*# sourceMappingURL=styles.css.map */
