@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


/* [[FUENTES]] */

$fuente-ppal: "IBM Plex Mono", monospace;
$fuente-korea: "Noto Sans KR", sans-serif;


/* [[COLORES]] */

$negro-puro: #000000;
$verde-matrix: #22b455;
$verde-relleno: #204829;
$verde-intermedio: #80ce87;
$verde-claro: #92e5a1; 


